{% extends "base.html" %}

{% block title %}Advisor{% endblock %}
  	          
  	           {% block nav %}
  	          	<li class="active"><a href="/">Advisor</a></li>
  	          {% endblock %}
  	          
  	          
  	          {% block ui %}

  	          {% endblock %}

  	    
  	    
  	    {% block content %}
  	    <h1>Hello</h1>
  	    <h1>Do you know what you want to do?</h1>
  	    
  	    
  	    	
    
    	{% endblock %}
    
     {% block modals %}
   

    
    
    {% endblock %}
    
    {% block pageScripts %}
    <script type="text/javascript">

    </script>
    {% endblock %}