{% extends "base.html" %}

{% block title %}Advisor{% endblock %}
  	          
  	           {% block nav %}
  	          	<li class="active"><a href="/">Advisor - Question 1</a></li>
  	          {% endblock %}
  	          
  	          
  	          {% block ui %}

  	          {% endblock %}

  	    
  	    
  	    {% block content %}
  	    <div id="Q1" class="row">
  	    <h1>I'm Linda, the careers advisor.</h1>
  	    <h1>Do you know do you want to do?</h1>
  	    
  	    <p><!--question in here--></p>
  	    	<p>
  	      		<a href="/q2a/"><button class="btn btn-large btn-primary" type="button">Yes!</button></a>
  	      		<a href="/q2b/"><button class="btn btn-large" type="button">No, what could I do?</button></a>
  	    	</p>
  	    	
  	    	
  	    	{% for soc in socs_list %}
  	    		<p>{{ soc.title }}</p>
  	    	{% endfor %}
  	    </div>
  	    
  	    	
    
    	{% endblock %}
    
     {% block modals %}
   

    
    
    {% endblock %}
    
    {% block pageScripts %}
    <script type="text/javascript">

    </script>
    {% endblock %}