{% extends "base.html" %}

{% block title %}Advisor{% endblock %}
  	          
  	           {% block nav %}
  	          	<li class="active"><a href="/">Advisor</a></li>
  	          {% endblock %}
  	          
  	          
  	          {% block ui %}

  	          {% endblock %}

  	    
  	    
  	    {% block content %}
  	    <div id="Q2-a-response" class="row">
  	    	<h2>"{{answer_string}}" - Let me think about that...</h2>
  	    	<h2>Is it one of these?</h2>
  	    	<ul>
  	    		<li>Doctor</li>
  	    	<ul>
  	    </div>
  	    	
    
    	{% endblock %}
    
     {% block modals %}
   

    
    
    {% endblock %}
    
    {% block pageScripts %}
    <script type="text/javascript">

    </script>
    {% endblock %}