{% extends "base.html" %}

{% block title %}Advisor{% endblock %}
  	          
  	           {% block nav %}
  	          	<li class="active"><a href="/">Advisor</a></li>
  	          {% endblock %}
  	          
  	          
  	          {% block ui %}

  	          {% endblock %}

  	    
  	    
  	    {% block content %}
  	    <div id="Q2-a-response" class="row">
  	    	<h2>You said: "{{answer_string.title}}"</h2>
  	    	<!--<h2>Is it one of these?</h2>
  	    	<ul>
  	    		{% for reponse in response_list %}
  	    			<li>{{response}}</li>
  	    		{% endfor %}
  	    	<ul>-->
  	    	
  	    	
  	    	              
  	    	             <div class="hero-unit result">     
  	    	            <!--<a class="btn btn-primary btn-large">
  	    	                Yes, show me my options
  	    	            </a>-->
  	    				<p><!--question in here-->It looks like you're going to need these qualifications</p>
  	    	            <ul>
  	    	                <li><input type="checkbox"> Maths GCSE at level B or above</li>
  	    	                <li><input type="checkbox"> Maths AS at level B or above</li>
  	    	                <li><input type="checkbox"> Pure Maths GCSE at level A or above</li>
  	    	                <li><input type="checkbox"> A degree in Pure Maths</li>
  	    	            </ul>
  	    	
  	    	            <p>Statisticians are some of the highest paid people in the UK, they require high level mathematics qualifications.</p>
  	    	            
  	    	            <p>In 2011, people in these carreers earned £33,000 a year. In 2012, this rose to £35,000 a year</p>
  	    	            </div>
  	    	
  	    </div>
  	    	
    
    	{% endblock %}
    
     {% block modals %}
   

    
    
    {% endblock %}
    
    {% block pageScripts %}
    <script type="text/javascript">

    </script>
    {% endblock %}