{% extends "base.html" %}

{% block title %}Advisor{% endblock %}
  	          
  	           {% block nav %}
  	          	<li class="active"><a href="/">Advisor - Question 1</a></li>
  	          {% endblock %}
  	          
  	          
  	          {% block ui %}

  	          {% endblock %}

  	    
  	    
  	    {% block content %}
  	    <div id="Q2-b" class="row">
  	    <h2>Don't worry, that's okay. Here's a thought...</h2>
  	    	<p>
  	      		<a href="/q3a/"><button class="btn btn-large btn-primary" type="button">I can show you what might be avaliable...</button></a>
  	      		<a href="/q3b/"><button class="btn btn-large" type="button">Could you tell me what skills do you have?</button></a>
  	    	</p>
  	    </div>
  	    
  	    	
    
    	{% endblock %}
    
     {% block modals %}
   

    
    
    {% endblock %}
    
    {% block pageScripts %}
    <script type="text/javascript">

    </script>
    {% endblock %}